@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray-0: oklch(100% 0 0);
  --color-gray-50: oklch(0.985 0.002 247.839);
  --color-gray-100: oklch(0.967 0.003 264.542);
  --color-gray-200: oklch(0.928 0.006 264.531);
  --color-gray-300: oklch(0.872 0.01 258.338);
  --color-gray-400: oklch(0.707 0.022 261.325);
  --color-gray-500: oklch(0.551 0.027 264.364);
  --color-gray-600: oklch(0.446 0.03 256.802);
  --color-gray-700: oklch(0.373 0.034 259.733);
  --color-gray-800: oklch(0.278 0.033 256.848);
  --color-gray-900: oklch(0.21 0.034 264.665);
  --color-gray-950: oklch(0.13 0.028 261.692);

  --color-app-bg: oklch(0.985 0.002 247.839);
  --font-sans: "Inter", sans-serif;
}

@variant dark {
  --color-gray-950: oklch(0.985 0.002 247.839);
  --color-gray-900: oklch(0.967 0.003 264.542);
  --color-gray-800: oklch(0.928 0.006 264.531);
  --color-gray-700: oklch(0.872 0.01 258.338);
  --color-gray-600: oklch(0.707 0.022 261.325);
  --color-gray-500: oklch(0.551 0.027 264.364);
  --color-gray-400: oklch(0.446 0.03 256.802);
  --color-gray-300: oklch(0.373 0.034 259.733);
  --color-gray-200: oklch(0.278 0.033 256.848);
  --color-gray-100: oklch(0.21 0.034 264.665);
  --color-gray-50: oklch(0.13 0.028 261.692);
  --color-gray-0: oklch(0.21 0.034 264.665);

  --color-app-bg: oklch(0.21 0.034 264.665);
}

@layer components {
  .btn {
    @apply flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:outline-none;
  }
  .btn--primary {
  }

  .btn--outline {
  }
}
